services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montevideo
      - WEBUI_PORT=8080
    volumes:
      - /home/damian/docker/qbittorrent/config:/config
      - /srv/toshiba/data:/data
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped
    networks:
      - media

networks:
  media:
    external: true
