# encrypt env files, but prevent any text conversions (CRLF/LF)
**/.env filter=git-crypt diff=git-crypt -text
**/.env.* filter=git-crypt diff=git-crypt -text

# (if you encrypt keys/certs too)
**/*.pem filter=git-crypt diff=git-crypt -text
**/*.key filter=git-crypt diff=git-crypt -text
**/*.p12 filter=git-crypt diff=git-crypt -text
**/*.pfx filter=git-crypt diff=git-crypt -text
