services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montevideo
    volumes:
      - /home/damian/docker/radarr/config:/config
      - /srv/toshiba/data:/data
    ports:
      - "7878:7878"
    restart: unless-stopped
    networks:
      - media

networks:
  media:
    external: true
