services:
  watchtower:
    image: ghcr.io/nicholas-fedor/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=America/Montevideo
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE= 0 0 17 * * 0 #At 04:00 AM, only on Friday Change to suit
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATION_URL=telegram://8314782926:AAGZYvL1kFqXrQi0DBTldgUBxWMyNGCKrAE@telegram/?channels=1399764584
      - WATCHTOWER_NOTIFICATION_DELAY=30   # seconds between notifications

    restart: unless-stopped
